In [1]:
import pandas as pd
import numpy as np

## Kolon Adları
- vSegID	Segment bölgesini belirtir
- vSegDir	YÖN: 0:Geliş; 1:Gidiş
- fusedYear	Yıl
- fusedMonth	Ay
- fusedday	Gün
- fusedHour	Saat
- avgspeed	km'saat
- GRP	30'dklık dilimler
- shape	Segment ıdların koordinat bilgileri

### NOT: Elimizde hem Beşiktaş'a özel bir veri(besiktasHız.csv) hem de tüm ilçelerin karışık olduğu bir veri (fuseedİlce.csv) var. Bu sebeple ikisini birleştiriyoruz.

In [2]:
BESIKTAS_DATA = "./BesiktasHiz.csv"
FUSEED_DATA = "./Fuseed_Data_İlçe.csv"

In [3]:
besiktas_df = pd.read_csv(BESIKTAS_DATA, sep=";")

In [4]:
besiktas_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,470,1,2019,3,17,8,108.0,30-60DK
1,3597,0,2019,3,5,8,33.0,30-60DK
2,3639,1,2019,1,2,22,37.0,0-30DK
3,2143,0,2019,3,2,21,30.0,30-60DK
4,551,0,2019,1,12,21,41.0,30-60DK

In [5]:
fuseed_df = pd.read_csv(FUSEED_DATA)

In [6]:
fuseed_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,305,1,2019,6,24,23,28.0,0-30DK
1,1107,1,2019,6,5,2,49.0,30-60DK
2,1728,0,2019,4,15,14,73.0,0-30DK
3,762,0,2019,5,6,10,30.0,0-30DK
4,3023,1,2019,5,4,18,25.0,30-60DK

In [7]:
fuseed_besiktas_df = fuseed_df[fuseed_df.vSegID.isin(besiktas_df.vSegID)]

In [8]:
fuseed_besiktas_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
1,1107,1,2019,6,5,2,49.0,30-60DK
10,3552,0,2019,6,1,8,28.0,30-60DK
15,3559,0,2019,4,14,20,44.0,30-60DK
24,3589,0,2019,6,10,16,34.0,0-30DK
26,3619,0,2019,4,6,12,37.0,30-60DK

In [9]:
df = besiktas_df.append(fuseed_besiktas_df)

In [10]:
df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,470,1,2019,3,17,8,108.0,30-60DK
1,3597,0,2019,3,5,8,33.0,30-60DK
2,3639,1,2019,1,2,22,37.0,0-30DK
3,2143,0,2019,3,2,21,30.0,30-60DK
4,551,0,2019,1,12,21,41.0,30-60DK

## Toplam Satır Sayıları

In [11]:
print(f'Besiktas veriseti: {len(besiktas_df.index)} satır')
print(f'Fuseed verisetindeki Besiktas verisi: {len(fuseed_besiktas_df.index)} satır')
print(f'Toplam Besiktas: {len(df.index)} satır')

Besiktas veriseti: 938941 satır
Fuseed verisetindeki Besiktas verisi: 921576 satır
Toplam Besiktas: 1860517 satır

## Segment ID'lere karşılık gelen enlem boylam verileri

In [12]:
segment_list = pd.read_excel("./bjk-segment.xlsx")

In [13]:
segment_list.head()

   id                                              shape
0  58  LINESTRING ( 29.01163774408752 41.080480711216...
1  58  LINESTRING ( 29.01837697841569 41.088996478005...
2  59  LINESTRING ( 29.01851958661052 41.088856751239...
3  59  LINESTRING ( 29.03193200006262 41.092135999577...
4  62  LINESTRING ( 29.00868344598513 41.050657973587...

# 65 NOLU SEGMENT ID = BEŞİKTAŞ BARBAROS BULVARI

## Seçilen SegmentID'ye Göre Filtrele

In [14]:
df = df.loc[df['vSegID'] == 65]

## Bu yol için hem gidiş hem dönüş verisi var. Şimdilik gidiş yönünü ele alalım.

In [15]:
df = df.loc[df['vSegDir'] == 0]

## Test Amaçla Sıralama

In [16]:
test = df.loc[df['vSegID'] == 65]
test2 = test.loc[test['vSegDir'] == 0]
test3 = test2.loc[test2['fusedMonth'] == 1]
test4 = test3.loc[test3['fusedday'] == 1]
test4.sort_values("fusedHour").reset_index(drop=True)

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,65,0,2019,1,1,0,32.0,0-30DK
1,65,0,2019,1,1,0,33.0,30-60DK
2,65,0,2019,1,1,1,13.0,0-30DK
3,65,0,2019,1,1,1,27.0,30-60DK
4,65,0,2019,1,1,2,29.0,30-60DK
5,65,0,2019,1,1,2,43.0,0-30DK
6,65,0,2019,1,1,3,33.0,30-60DK
7,65,0,2019,1,1,3,16.0,0-30DK
8,65,0,2019,1,1,4,48.0,0-30DK
9,65,0,2019,1,1,4,50.0,30-60DK
10,65,0,2019,1,1,5,57.0,30-60DK
11,65,0,2019,1,1,5,52.0,0-30DK
12,65,0,2019,1,1,6,62.0,0-30DK
13,65,0,2019,1,1,6,59.0,30-60DK
14,65,0,2019,1,1,7,62.0,0-30DK
15,65,0,2019,1,1,7,60.0,30-60DK
16,65,0,2019,1,1,8,61.0,30-60DK
17,65,0,2019,1,1,8,59.0,0-30DK
18,65,0,2019,1,1,9,61.0,0-30DK
19,65,0,2019,1,1,9,57.0,30-60DK
20,65,0,2019,1,1,10,59.0,0-30DK
21,65,0,2019,1,1,10,58.0,30-60DK
22,65,0,2019,1,1,11,53.0,30-60DK
23,65,0,2019,1,1,11,58.0,0-30DK
24,65,0,2019,1,1,12,53.0,0-30DK
25,65,0,2019,1,1,12,51.0,30-60DK
26,65,0,2019,1,1,13,43.0,30-60DK
27,65,0,2019,1,1,13,46.0,0-30DK
28,65,0,2019,1,1,14,41.0,0-30DK
29,65,0,2019,1,1,14,41.0,30-60DK
30,65,0,2019,1,1,15,45.0,30-60DK
31,65,0,2019,1,1,15,43.0,0-30DK
32,65,0,2019,1,1,16,46.0,0-30DK
33,65,0,2019,1,1,16,43.0,30-60DK
34,65,0,2019,1,1,17,44.0,30-60DK
35,65,0,2019,1,1,17,44.0,0-30DK
36,65,0,2019,1,1,18,45.0,0-30DK
37,65,0,2019,1,1,18,45.0,30-60DK
38,65,0,2019,1,1,19,45.0,30-60DK
39,65,0,2019,1,1,19,45.0,0-30DK
40,65,0,2019,1,1,20,45.0,0-30DK
41,65,0,2019,1,1,20,47.0,30-60DK
42,65,0,2019,1,1,21,45.0,30-60DK
43,65,0,2019,1,1,21,49.0,0-30DK
44,65,0,2019,1,1,22,46.0,0-30DK
45,65,0,2019,1,1,22,48.0,30-60DK
46,65,0,2019,1,1,23,54.0,30-60DK
47,65,0,2019,1,1,23,52.0,0-30DK

## Yol Bakım
2 adet bakım calısması veriseti var.

- İki verisetini birleştir.
- Beşiktaş Barbaros Bulvarına göre filtrele.

In [17]:
yol_bakim1 = pd.read_csv("./bakim-veri/yol_bakım.csv")
yol_bakim2 = pd.read_csv("./bakim-veri/yol_bakim_2.csv")

In [18]:
result = pd.concat([yol_bakim1, yol_bakim2])
result = result.loc[result["ilce"] == "BEŞİKTAŞ"].reset_index(drop=True)
result.loc[result['yol_adi'].str.contains("BARBAROS")].reset_index(drop=True)

,id,isin_cinsi,ilce,yol_adi,isin_adi,tarih,gece,harita,lat,lon
0,133679,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-01-05,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,0.000000,0.00000
1,133950,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-01-09,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,0.000000,0.00000
2,134346,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-01-13,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,0.000000,0.00000
3,134579,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-01-14,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,0.000000,0.00000
4,134691,ASFALT,BEŞİKTAŞ,BARBAROS BULVARI(YILDIZ MAH),ROBOT (YAMA),2019-01-15,EVET,http://sehirharitasi.ibb.gov.tr/?lat=41.051016...,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...,...
68,152829,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-05-16,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062
69,153422,ASFALT,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),ROBOT (YAMA),2019-05-21,EVET,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062
70,154041,KORKULUK YAPIMI - ONARIMI,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),OTO KORKULUK,2019-05-26,EVET,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062
71,154664,KORKULUK YAPIMI - ONARIMI,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),OTO KORKULUK,2019-05-29,EVET,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062
72,155375,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-06-10,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062

## TKM Duyurular

In [19]:
tkm_duyuru = pd.read_csv("../Trafik Analizi Verileri/Microsoft_azure_calisma/TKM_Duyurular.csv")

In [20]:
tkm_duyuru.loc[tkm_duyuru['DUYURUBASLIK'].str.contains("Beşiktaş")]

,DUYURUID,DUYURUTIPI,DUYURUTIPI_DESC,KULLANICIID,DUYURUBASLIK,DUYURUMETIN,DUYURULINK,KAZALINK,GIRISTARIHI,BITISTARIHI,...,ULASIMMOD,DUYURUBASLIKING,DUYURUMETINING,MOBILKULLANICIBILDIRIMIACIKLAMA,GIRISYAPANBIRIM,KAZAKARANOKTATIPI,KazaKaraNoktaTipi_desc,VSEGID,VSEGDIR,insert_time
13,478018,17,Bakım-Onarım Çalışması,696,Balmumcu Alt Geçiti Beşiktaş - Zincirlikuyu Y...,Balmumcu Alt Geçiti Beşiktaş - Zincirlikuyu Y...,NaN,NaN,2019-03-09 01:37:11,2019-03-09 06:00:00,...,NaN,Balmumcu Alt Geçiti Beşiktaş - Zincirlikuyu d...,Alt Geçit Balmumcu Beşiktaş - Zincirlikuyu dir...,NaN,0,NaN,NaN,NaN,NaN,2019-09-27 12:10:03
257,474266,17,Bakım-Onarım Çalışması,162,Beşiktaş Meydanı Çift Yönlü Bakım-Onarım Çalı...,Beşiktaş Meydanı Çift Yönlü Bakım-Onarım Çalış...,NaN,NaN,2019-01-17 00:30:59,2019-01-17 04:54:00,...,NaN,NaN,Beşiktaş Meydanı Çift Yönlü maintenance and re...,NaN,1,NaN,NaN,NaN,NaN,2019-09-27 12:10:03
258,474267,17,Bakım-Onarım Çalışması,162,"Beşiktaş - Dolmabahçe Yönü, sağ şerit Bakım-On...","Beşiktaş - Dolmabahçe Yönü, sağ şerit Bakım-On...",NaN,NaN,2019-01-17 01:31:27,2019-01-17 04:00:00,...,NaN,NaN,"Beşiktaş - Dolmabahçe direction, right lane ma...",NaN,1,NaN,NaN,NaN,NaN,2019-09-27 12:10:03
288,475336,17,Bakım-Onarım Çalışması,550,"Büyükdere Caddesi Levent - Beşiktaş Yönü, sağ ...","Büyükdere Caddesi Levent - Beşiktaş Yönü, sağ ...",NaN,NaN,2019-01-31 10:27:58,2019-01-31 11:30:00,...,NaN,"Büyükdere Caddesi Levent - Beşiktaş direction,...","Büyükdere Caddesi Levent - Beşiktaş direction,...",NaN,1,NaN,NaN,NaN,NaN,2019-09-27 12:10:03

## Sütun İsimleri Düzenleme

In [21]:
df.rename(columns={'vSegID': 'SegmentID',
                   'vSegDir': 'SegmentDirection',
                   'fusedYear': 'Year',
                   'fusedMonth': 'Month',
                   'fusedday' : 'Day',
                   'fusedHour' : 'Hour' ,
                   'avgspeed': 'AverageSpeed',
                   'GRP' : 'Minute'
                  },
          inplace=True)

#### Aralıkları 15.dakika veya 45.dakika olarak işaretleyelim.

In [22]:
GRPdict = {"0-30DK": 15 , "30-60DK": 45}
df['Minute'] = df['Minute'].apply(lambda x : GRPdict[x])

df.head()

     SegmentID  SegmentDirection  Year  Month  Day  Hour  AverageSpeed  Minute
287         65                 0  2019      1   29    12          13.0      15
338         65                 0  2019      1   10     9          41.0      15
511         65                 0  2019      1   17     6          59.0      15
653         65                 0  2019      1    7     1          54.0      15
657         65                 0  2019      3   19    19          47.0      15

### Yıl, Ay, Gün, Saat ile DateTime Bilgisi Oluşturma

In [23]:
df['DateTime'] = pd.to_datetime(df[['Year','Month','Day','Hour','Minute']])
df.head()

,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,Minute,DateTime
287,65,0,2019,1,29,12,13.0,15,2019-01-29 12:15:00
338,65,0,2019,1,10,9,41.0,15,2019-01-10 09:15:00
511,65,0,2019,1,17,6,59.0,15,2019-01-17 06:15:00
653,65,0,2019,1,7,1,54.0,15,2019-01-07 01:15:00
657,65,0,2019,3,19,19,47.0,15,2019-03-19 19:15:00

## Datetime'a Göre Sıralı Veri

In [24]:
"""
df.sort_values('DateTime', inplace=True)
df.reset_index(inplace=True, drop=True)

df.head()
""";

## Yıllık Tatil Günleri Sütunu

In [25]:
holidays = pd.read_excel("resmi_tatiller.xlsx")
holiday_dates = list(holidays['tarih'])

holiday_dates

['2019-01-01',
 '2019-04-23',
 '2019-05-01',
 '2019-05-19',
 '2019-06-04',
 '2019-06-05',
 '2019-06-06']

In [26]:
df['IsNationalHoliday'] = df['DateTime'].apply(lambda x : 1 if str(x.date()) in holiday_dates else 0)

In [27]:
df.tail(10)

,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,Minute,DateTime,IsNationalHoliday
5305366,65,0,2019,5,26,21,50.0,15,2019-05-26 21:15:00,0
5306354,65,0,2019,4,26,17,15.0,45,2019-04-26 17:45:00,0
5307279,65,0,2019,6,11,8,38.0,45,2019-06-11 08:45:00,0
5309083,65,0,2019,5,11,20,51.0,15,2019-05-11 20:15:00,0
5312325,65,0,2019,4,30,20,39.0,45,2019-04-30 20:45:00,0
5314623,65,0,2019,5,7,6,62.0,15,2019-05-07 06:15:00,0
5317639,65,0,2019,6,5,17,39.0,45,2019-06-05 17:45:00,1
5318196,65,0,2019,6,12,8,51.0,15,2019-06-12 08:15:00,0
5320596,65,0,2019,6,11,1,37.0,15,2019-06-11 01:15:00,0
5320865,65,0,2019,5,2,9,47.0,15,2019-05-02 09:15:00,0

### Datetime Kullanarak Haftasonu Sütunu Ekleme

In [28]:
df['DayName'] = df.apply(lambda tr: tr['DateTime'].day_name(), axis=1)

In [29]:
df['IsWeekend'] = df.apply(lambda tr: 1 if tr['DayName'] in ["Saturday", "Sunday"] else 0, axis=1)

In [30]:
df.head()

,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,Minute,DateTime,IsNationalHoliday,DayName,IsWeekend
287,65,0,2019,1,29,12,13.0,15,2019-01-29 12:15:00,0,Tuesday,0
338,65,0,2019,1,10,9,41.0,15,2019-01-10 09:15:00,0,Thursday,0
511,65,0,2019,1,17,6,59.0,15,2019-01-17 06:15:00,0,Thursday,0
653,65,0,2019,1,7,1,54.0,15,2019-01-07 01:15:00,0,Monday,0
657,65,0,2019,3,19,19,47.0,15,2019-03-19 19:15:00,0,Tuesday,0

### Okul Tatil Günleri

In [31]:
school_hols = pd.read_csv("./Okul-Tatilleri.csv")
school_holiday_dates = list(school_hols['Okul Tatilleri'])
school_holiday_dates

['2019-01-19',
 '2019-01-20',
 '2019-01-21',
 '2019-01-22',
 '2019-01-23',
 '2019-01-24',
 '2019-01-25',
 '2019-01-26',
 '2019-01-27',
 '2019-01-28',
 '2019-01-29',
 '2019-01-30',
 '2019-01-31',
 '2019-02-01',
 '2019-02-02',
 '2019-02-03',
 '2019-06-15',
 '2019-06-16',
 '2019-06-17',
 '2019-06-18',
 '2019-06-19',
 '2019-06-20',
 '2019-06-21',
 '2019-06-22',
 '2019-06-23',
 '2019-06-24',
 '2019-06-25',
 '2019-06-26',
 '2019-06-27',
 '2019-06-28',
 '2019-06-29',
 '2019-06-30']

In [32]:
df['IsSchoolHoliday'] = df['DateTime'].apply(lambda x : 1 if str(x.date()) in school_holiday_dates else 0)

In [33]:
df.head(10)

,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,Minute,DateTime,IsNationalHoliday,DayName,IsWeekend,IsSchoolHoliday
287,65,0,2019,1,29,12,13.0,15,2019-01-29 12:15:00,0,Tuesday,0,1
338,65,0,2019,1,10,9,41.0,15,2019-01-10 09:15:00,0,Thursday,0,0
511,65,0,2019,1,17,6,59.0,15,2019-01-17 06:15:00,0,Thursday,0,0
653,65,0,2019,1,7,1,54.0,15,2019-01-07 01:15:00,0,Monday,0,0
657,65,0,2019,3,19,19,47.0,15,2019-03-19 19:15:00,0,Tuesday,0,0
835,65,0,2019,3,13,3,56.0,15,2019-03-13 03:15:00,0,Wednesday,0,0
848,65,0,2019,1,19,15,13.0,45,2019-01-19 15:45:00,0,Saturday,1,1
928,65,0,2019,1,19,5,50.0,45,2019-01-19 05:45:00,0,Saturday,1,1
991,65,0,2019,2,22,1,55.0,15,2019-02-22 01:15:00,0,Friday,0,0
1021,65,0,2019,3,25,3,53.0,45,2019-03-25 03:45:00,0,Monday,0,0

### İlerleyen adımlarda DateTime ve DayName sütunları kaldırılır, gerek yok.

## Trafik Oranlarını Sınıflandırma

- ML modeli 0-90 arası bir hız tahmini yapmak yerine, düşük,ortalama,yüksek hız şeklinde sınıflandırma yapmalı.

In [34]:
df['AverageSpeed'].describe()

count    8660.000000
mean       40.247806
std        15.673516
min         8.000000
25%        29.000000
50%        43.000000
75%        51.000000
max        77.000000
Name: AverageSpeed, dtype: float64

# K-means ile Kümeleme

In [35]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=3)

In [36]:
df['label'] = km.fit_predict(df[['AverageSpeed']])

In [37]:
df[['label', 'AverageSpeed']]

         label  AverageSpeed
287          2          13.0
338          1          41.0
511          0          59.0
653          0          54.0
657          1          47.0
...        ...           ...
5314623      0          62.0
5317639      1          39.0
5318196      0          51.0
5320596      1          37.0
5320865      1          47.0

[8660 rows x 2 columns]

In [38]:
df.loc[df['label'] == 0]['AverageSpeed'].describe()

count    2516.000000
mean       57.489269
std         5.700501
min        50.000000
25%        53.000000
50%        57.000000
75%        61.000000
max        77.000000
Name: AverageSpeed, dtype: float64

In [39]:
df.loc[df['label'] == 1]['AverageSpeed'].describe()

count    3956.000000
mean       41.831901
std         5.009150
min        30.000000
25%        38.000000
50%        43.000000
75%        46.000000
max        49.000000
Name: AverageSpeed, dtype: float64

In [40]:
df.loc[df['label'] == 2]['AverageSpeed'].describe()

count    2188.000000
mean       17.557587
std         5.318470
min         8.000000
25%        13.000000
50%        16.000000
75%        21.000000
max        29.000000
Name: AverageSpeed, dtype: float64