In [1]:
import pandas as pd
import numpy as np

## Kolon Adları
- vSegID	Segment bölgesini belirtir
- vSegDir	YÖN: 0:Geliş; 1:Gidiş
- fusedYear	Yıl
- fusedMonth	Ay
- fusedday	Gün
- fusedHour	Saat
- avgspeed	km'saat
- GRP	30'dklık dilimler
- shape	Segment ıdların koordinat bilgileri

### NOT: Elimizde hem Beşiktaş'a özel bir veri(besiktasHız.csv) hem de tüm ilçelerin karışık olduğu bir veri (fuseedİlce.csv) var. Bu sebeple ikisini birleştiriyoruz.

In [2]:
BESIKTAS_DATA = "./BesiktasHiz.csv"
FUSEED_DATA = "./Fuseed_Data_İlçe.csv"

In [3]:
besiktas_df = pd.read_csv(BESIKTAS_DATA, sep=";")

In [4]:
besiktas_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,470,1,2019,3,17,8,108.0,30-60DK
1,3597,0,2019,3,5,8,33.0,30-60DK
2,3639,1,2019,1,2,22,37.0,0-30DK
3,2143,0,2019,3,2,21,30.0,30-60DK
4,551,0,2019,1,12,21,41.0,30-60DK

In [5]:
fuseed_df = pd.read_csv(FUSEED_DATA)

In [6]:
fuseed_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,305,1,2019,6,24,23,28.0,0-30DK
1,1107,1,2019,6,5,2,49.0,30-60DK
2,1728,0,2019,4,15,14,73.0,0-30DK
3,762,0,2019,5,6,10,30.0,0-30DK
4,3023,1,2019,5,4,18,25.0,30-60DK

In [7]:
fuseed_besiktas_df = fuseed_df[fuseed_df.vSegID.isin(besiktas_df.vSegID)]

In [8]:
fuseed_besiktas_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
1,1107,1,2019,6,5,2,49.0,30-60DK
10,3552,0,2019,6,1,8,28.0,30-60DK
15,3559,0,2019,4,14,20,44.0,30-60DK
24,3589,0,2019,6,10,16,34.0,0-30DK
26,3619,0,2019,4,6,12,37.0,30-60DK

In [9]:
df = besiktas_df.append(fuseed_besiktas_df)

In [10]:
df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,470,1,2019,3,17,8,108.0,30-60DK
1,3597,0,2019,3,5,8,33.0,30-60DK
2,3639,1,2019,1,2,22,37.0,0-30DK
3,2143,0,2019,3,2,21,30.0,30-60DK
4,551,0,2019,1,12,21,41.0,30-60DK

## Toplam Satır Sayıları

In [11]:
print(f'Besiktas veriseti: {len(besiktas_df.index)} satır')
print(f'Fuseed verisetindeki Besiktas verisi: {len(fuseed_besiktas_df.index)} satır')
print(f'Toplam Besiktas: {len(df.index)} satır')

Besiktas veriseti: 938941 satır
Fuseed verisetindeki Besiktas verisi: 921576 satır
Toplam Besiktas: 1860517 satır

## Segment ID'lere karşılık gelen enlem boylam verileri

In [12]:
segment_list = pd.read_excel("./bjk-segment.xlsx")

In [13]:
segment_list.head()

   id                                              shape
0  58  LINESTRING ( 29.01163774408752 41.080480711216...
1  58  LINESTRING ( 29.01837697841569 41.088996478005...
2  59  LINESTRING ( 29.01851958661052 41.088856751239...
3  59  LINESTRING ( 29.03193200006262 41.092135999577...
4  62  LINESTRING ( 29.00868344598513 41.050657973587...

## Seçilen Yola Göre Filtreleme

Elimizdeki segment id'lere karşılık gelen enlem-boylam verisinden bir cadde seçip tüm veriyi filtreleyelim.

In [15]:
segment_list.loc[segment_list['id'] == 65]

    id                                              shape
10  65  LINESTRING ( 29.0068330000438 41.0423210001149...
11  65  LINESTRING ( 29.00779224661579 41.047637999794...

In [28]:
test = df.loc[df['vSegID'] == 65]
test2 = test.loc[test['vSegDir'] == 0]
test3 = test2.loc[test2['fusedMonth'] == 1]
test4 = test3.loc[test3['fusedday'] == 1]
test4.sort_values("fusedHour")

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
20511,65,0,2019,1,1,0,32.0,0-30DK
686967,65,0,2019,1,1,0,33.0,30-60DK
784244,65,0,2019,1,1,1,13.0,0-30DK
913376,65,0,2019,1,1,1,27.0,30-60DK
454123,65,0,2019,1,1,2,29.0,30-60DK
792270,65,0,2019,1,1,2,43.0,0-30DK
783931,65,0,2019,1,1,3,33.0,30-60DK
835433,65,0,2019,1,1,3,16.0,0-30DK
824124,65,0,2019,1,1,4,48.0,0-30DK
743248,65,0,2019,1,1,4,50.0,30-60DK
45741,65,0,2019,1,1,5,57.0,30-60DK
277758,65,0,2019,1,1,5,52.0,0-30DK
311632,65,0,2019,1,1,6,62.0,0-30DK
227710,65,0,2019,1,1,6,59.0,30-60DK
610227,65,0,2019,1,1,7,62.0,0-30DK
457622,65,0,2019,1,1,7,60.0,30-60DK
606684,65,0,2019,1,1,8,61.0,30-60DK
128856,65,0,2019,1,1,8,59.0,0-30DK
445552,65,0,2019,1,1,9,61.0,0-30DK
131974,65,0,2019,1,1,9,57.0,30-60DK
590170,65,0,2019,1,1,10,59.0,0-30DK
565537,65,0,2019,1,1,10,58.0,30-60DK
554177,65,0,2019,1,1,11,53.0,30-60DK
53824,65,0,2019,1,1,11,58.0,0-30DK
18362,65,0,2019,1,1,12,53.0,0-30DK
836358,65,0,2019,1,1,12,51.0,30-60DK
938838,65,0,2019,1,1,13,43.0,30-60DK
158073,65,0,2019,1,1,13,46.0,0-30DK
176098,65,0,2019,1,1,14,41.0,0-30DK
908436,65,0,2019,1,1,14,41.0,30-60DK
429763,65,0,2019,1,1,15,45.0,30-60DK
237201,65,0,2019,1,1,15,43.0,0-30DK
805024,65,0,2019,1,1,16,46.0,0-30DK
22478,65,0,2019,1,1,16,43.0,30-60DK
139441,65,0,2019,1,1,17,44.0,30-60DK
842454,65,0,2019,1,1,17,44.0,0-30DK
258977,65,0,2019,1,1,18,45.0,0-30DK
657443,65,0,2019,1,1,18,45.0,30-60DK
10850,65,0,2019,1,1,19,45.0,30-60DK
328173,65,0,2019,1,1,19,45.0,0-30DK
312069,65,0,2019,1,1,20,45.0,0-30DK
227588,65,0,2019,1,1,20,47.0,30-60DK
303080,65,0,2019,1,1,21,45.0,30-60DK
397953,65,0,2019,1,1,21,49.0,0-30DK
383450,65,0,2019,1,1,22,46.0,0-30DK
241206,65,0,2019,1,1,22,48.0,30-60DK
351285,65,0,2019,1,1,23,54.0,30-60DK
711186,65,0,2019,1,1,23,52.0,0-30DK